<div id="footer" class="container">
<hr>
  <div class="col-md-12">
    <ul class="list-layout list-inline text-center h5">
      <li><a href="/">View All</a></li>
      <li><a href="/support_requests/new">New Support Request</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="http://www.codecore.ca">CodeCore Bootcamp</a></li>
      <br>
      <br>
      <br>
      <div id="copyright" class="row-space-top-2 text-muted">
      © Created by Miroslav Suzara
    </ul>
</div>

